body {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1c1c1c;
    width: 500px;
    max-width: 500px; 
    border-radius: 15px;
    overflow: hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size:5rem;
    text-align:left;
    border:none;
    background-color: #1c1c1c;
    color:white;
}
button {
    height:100px;
    width:100px;
    border-radius: 50px;
    border:none;
    background-color: #4d4d4d;
    color:white;
    font-size: 3rem;
    font-weight:bold;
    cursor:pointer;
    text-align: center;
    font-size: 36px;
    margin: 10px;
}
#op {
    background-color: #ff950f;
}
#actions{
        background-color:#d4d4d2;
        color:#1c1c1c;
}
button:hover {
    background-color: rgb(128, 127, 125);
}
#op:focus{
    background-color:#d4d4d2 ;
}
#op:hover  {
    background-color: rgb(206, 204, 199);
}
#op:active {
    background-color: rgb(128, 127, 125);
}
#actions:hover {
    background-color: rgb(128, 127, 125);
}